<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>跳转</title>
    <script>
        var webUrl = "{{ web_url }}";
        var defaultAppUrl = "{{ international_app_url }}";
        window.addEventListener("DOMContentLoaded", function () {
            if (navigator.userAgent.indexOf("Mobile") < 0) {
                location.href = webUrl;
            } else {
                var timeout = false;
                ["pagehide", "blur", "beforeunload"].forEach(function (t) {
                    window.addEventListener(t, function () {
                        if (!timeout) {
                            window.close();
                        }
                    }, false);
                });
                setTimeout(function () {
                    timeout = true;
                }, 1500);
                location.href = defaultAppUrl;
            }
        }, false);
    </script>
    <style>
        .btn {
            margin: 16px;
            font-size: 2em;
        }
    </style>
</head>
<body>
<div>
    <div class="btn">
        <a href="{{ international_app_url }}">用国际版app打开</a>
    </div>
    <div class="btn">
        <a href="{{ app_url }}">用普通版app打开</a>
    </div>
    <div class="btn">
        <a href="{{ web_url }}">用H5页面打开</a>
    </div>
</div>
</body>
</html>